<!DOCTYPE html>

<div class="card">
  <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="login-image" />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="userName"
        [ngClass]="{ 'error-border': showErrorBorder('userName') }"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [ngClass]="{ 'error-border': showErrorBorder('password') }"
      />
      <div class="form-group">
        <button type="submit">Sign in</button>
      </div>
    </div>
  </form>
</div>
