<!DOCTYPE html>

<header>
  <nav>
    <div class="logo">
      <h1><a routerLink="">The Board</a></h1>
    </div>
    <div class="">
      <button
        *ngIf="currentUser"
        (click)="onLogout()"
        class="logout"
        routerLink="/"
      >
        Logout
      </button>
      <button *ngIf="!currentUser" class="login" routerLink="/login">
        Sign in
      </button>
      <button *ngIf="!currentUser" class="register" routerLink="/register">
        Register
      </button>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
