<h2 mat-dialog-title>New post</h2>

<mat-dialog-content>
  <form class="new-post-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        name="title"
        matInput
        placeholder="Title"
        [(ngModel)]="data.title"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <input
        class="content"
        name="content"
        matInput
        placeholder="Your post.."
        [(ngModel)]="data.content"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tag</mat-label>
      <input name="tag" matInput placeholder="Tag" [(ngModel)]="data.tag" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
